@media screen and (max-width: 980px) {

    body {
        
    }
    .wrapper {
        width: 100%;
        padding: 20px;
    }
   
   #main-content {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
        float: left;
    }
    #footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    body {
       
    }
    .wrapper {
        width: 100%;
        padding: 20px;
    }
    #main-content {
        width: 100%;

    }

    
    #sidebar {
        margin-top: 40px;
        float: left;
        width: 100%;

    }

    #footer {
        width: 100%;
    }
    .links {
        float:right;

    }
        a{
        padding-right: 15px;
    }
}

@media screen and (max-width: 640px) {

    body {
        
    }
    .wrapper {
        width: 100%;
        padding: 20px;
    }

     #main-content {
        width: 100%;
    }

    #sidebar {
        margin-top: 40px;
    }
    #footer {
        width: 100%;

    }
    .links{
        float:left;
        background-color: white;
        width: 100%;
        text-align: center;
    }
    a{
        padding-right: 50px;
    }

    #imgs{
        float: left;
    }
}