* {
  box-sizing: border-box;
}
body {
background-image: url("../images/cork-wallet.png");
max-width:960px;


}

.nav{
    background-color: white;
    height: 5px;
    border-bottom: solid gray 3px;
    height: 44px;

}
.links{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 18px;
    color:grey;
    float: right;

}
a{
    padding-left: 20px;
}




/* visited link */
.links:visited {
    color: teal;
}

.links:hover {
    background-color: lightgray;
}



h1 {
    margin-left: 22px;
    font-size: 2em;
    color: #4aaaa5;

}

h2{
    
    margin-left: 18px;
    color: #4aaaa5;
    font-size: 2em;



}
h3{
    text-align: center;
    margin-top: 20px;
}

p{
    margin-left:20px;
    text-align: justify;
    margin-right: 20px;
    font-family: Times;
    font-size: 16px;
    font-weight: normal;

}

img{
    margin-right: 10px;


}

hr{
    margin-left: 20px;
    margin-right: 20px;
}



#main-content {
    width: 650px;
    height: auto;
    float: left;
    border: 2px solid #ddd;
    background-color: white;
    margin-top: 50px;
    font-family: Georgia;

}

#sidebar {
    width: 270px;
    border: 2px solid #ddd;
    float: right;
    background-color: white;
    margin-top: 50px;
    font-family: Georgia;

}


.name {
    color: white;
    font-size: 41px;
    background-color: #4aaaa5;
    font-family: Georgia;
    float: left;
    max-width: 340px;
}
.paragraph {
    font-family: Times;


}

.im{
    margin-left:20px;
    margin-right: 0px;
}

.im:hover{
	background-color: #4aaaa5;

}


#footer {
   position:absolute;
   bottom:0;
   width: 1000px ;
   height:60px;   
   background:gray;
   text-align: center;
   border-top: solid 5px #4aaaa5;


}

.wrapper {
    width: 1024px;
    margin: 40px auto;
}

.imgs {
    margin-right: 40px;

    float: right;

    width: 175px;
}


.imgs img {
    width: 100%;
    height: auto;
}

.desc {
    text-align: center;
}


