
/* * selects everything to be applied*/
*{
    box-sizing: border-box;
}


body {
    background-image: none;
    background-image: url("../images/cork-wallet.png")

}

.nav{
    background-color: white;
    height: 5px;
    border-bottom: solid gray 3px;
    height: 51px;

}


a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 18px;
    color:grey;
    float:right;

}


/* visited link */
a:visited {
    color: teal;
}

a:hover {
    background-color: lightgray;
}



h1 {
    margin-left: 45px;
    font-size: 2em;
    color: #4aaaa5;

}

h2{
    margin-left: 30px;
    padding-bottom: 10px;
    color: #4aaaa5;


}

h3{
    margin-left:20px;
    text-align: justify;
    margin-right: 20px;
    font-family: Times;
    font-size: 16px;
    font-weight: normal;
    align-items: left;

}

img{
    margin-right: 10px;


}

hr{
    margin-left: 20px;
    margin-right: 20px;
}



.div1 {
    width: 650px;
    height: auto;
    float: left;
    border: 2px solid #ddd;
    background-color: white;
    margin-top: 50px;
    font-family: Georgia;

}

.div2 {
    width: 270px;
    height: 190px;
    border: 2px solid #ddd;
    background-color: white;
    margin-top: 50px;
    font-family: Georgia;
    float: right;
}
.name {
    color: white;
    font-size: 45px;
    background-color: #4aaaa5;
    font-family: Georgia;
    margin-right: 300px;
    float: left;
}
.paragraph {
    font-family: Times;


}

.im{
    margin-left:20px;
    margin-right: 0px;
}

.im:hover{
	background-color: #4aaaa5;

}


#footer {
   position:absolute;
   bottom:0;
   width: 1000px ;
   height:60px;   
   background:gray;
   text-align: center;
   border-top: solid 5px #4aaaa5;


}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.imgs {
    margin: 16px;
    border: 1px dash #4aaaa5;;
    float: right;
    width: 180px;
}

.imgs:hover {
    border: 1px solid #4aaaa5;;

 
}

.imgs img {
    width: 100%;
    height: auto;
}

.desc {
    text-align: center;
}


